*{
    padding:0;
    margin: 0;
    text-decoration: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
}


.container{
    max-width: 1440px;
    width: 100%;
    padding: 0 84px;
    margin: 0 auto;
}


/* H O V E R */
nav a:hover   , nav a:focus  , nav a:active, .search-button:hover   , .search-button:focus  , .search-button:active {
    
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 

}

nav a, .search-button{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

/* header  */
header {
    background-color: #F9F9F9; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px; 
    padding-top: 37px;
    padding-bottom: 47px;
    padding-left: 84px; 
    padding-right: 84px; 
}

.logo {
    width: 234px;
    height: 49px;
    opacity: 0px; 
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 61.25px;
    margin-left: 225px; 
    margin-right: 66.9px;
}

nav a {
    font-weight: 700;
    color: rgba(38, 38, 38, 1);
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    
}

/* Contact Button Styles */
.contact-button {
    width: 143.81px;
    height: 35.95px;
    border-radius: 40px;
    background: rgba(76, 224, 215, 1);
    padding: 9px 31px 7px 32px; 
    
}

.search-button {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    
}
 

/* first section styles */
.first-section {
    width: 1272px;
    padding-top: 218px;
    padding-bottom: 141px;
    padding-left: 0%;
    background-image: url('./images/pexels-andrea-piacquadio-994234\ 1.png'); /* Background image */
    border-radius: 20px;
    margin-bottom: 73px;
}


.first-section h3 {
    width: 209px;
    height: 18px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.23em;
    text-align: left;
    color: #ffffff; 
    margin-left:  57px; 
    margin-bottom: 22px;
}


.first-section h1 {
    width: 627px;
    height: 69px;
    font-family:'Poppins', sans-serif ;
    font-size: 46px;
    font-weight: 400;
    line-height: 69px;
    text-align: left;
    color: #FFFFFF; 
    margin-left: 57px; 
}

/* Span Styles */
.first-section h1 span {
    font-family:'Poppins', sans-serif ;
    font-size: 46px;
    font-weight: 700;
    line-height: 69px;
    text-align: left;
    color: #00ffff;
}

.first-section p{
    width: 494px;
    height: 72px;
    top: 479px;
    left: 137px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 1);   
    margin-left: 53px;   
    margin-top: 19px;
}




























/* intro section */














/* topics  */
.topics title h2{
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

/* topic cards  */
.topics-title{
    margin-bottom: 48px;
}

.topic-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.topic-card{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 6px 0px #0000000D;
    width: 204px;
    height: 291px;
    top: 849px;
    left: 83px;
    padding-bottom: 29.88px;
    padding-top: 33px;
    margin-bottom: 87.5px;

}

.lingerie img{
    width: 88px;
    height: 88px;
    margin-bottom: 20px;
}

.spring img{
    width: 103px;
    height: 103px;
    margin-bottom: 5px;
}

.yoga img{
    width: 100px;
    height: 100px;
    margin-bottom: 18px;
}

.glow img{
    width: 89px;
    height: 89px;
    margin-bottom: 27px;
}

.ensembles img{
    width: 86px;
    height: 86px;
    margin-bottom: 27px;
}

.skin-care img{
    width: 102px;
    height: 102px;
    margin-bottom: 13px;
}

.topic-card h2{
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #262626;
    line-height: 30px;
    text-align:center;
    margin-bottom: 29px;
    width: 129px;
    height: 36px;

}

.topic-card a.button{
    font-family: Poppins,sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #262626; 
    background-color: #4CE0D7;
    padding: 10px 40px;
    border-radius: 40px;
}

/* line  */

.line {
    width: 1267px;;
    height: 1px;
    background-color: #BCBCBC;
    margin-bottom: 52.5px;

}



/* latest trends  */

.latest-trends{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 6px 6px 0px #0000000D;
    width: 1204px;
    height: 698px;
    top: 1280px;
    left: 118px;
    border-radius: 20px;
    margin-bottom: 97px;
    

}
   
.latest-trends-image img{
    width: 1204px;
    height: 360.3px;
    top: 1280px;
    left: 118px;
    border-radius: 20px;
    margin-bottom: 23px;
    
}

.fashion-heading{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:12px ;
    line-height:18px ;
    background-color:#262626 ;
    position:absolute;
    margin-left: 47.27px;
    margin-right: 922.4px;
    padding: 10.66px 81.6px 9.31px 81.73px;
    color: #FFFFFF;
    border-radius: 40px;
    margin-top: 23.34px;
}

.fashion-heading:hover,   
.fashion-heading:focus,   
.fashion-heading:active  {
    -webkit-transform: scale(1.1); transform: scale(1.1);
}

.fashion-heading {
    cursor: pointer;
}

.latest-trends-info {
    max-width: 1072px;
    width: 100%;
}

.trends-info-section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

}

.info-image-container {
    border-radius: 70%;
    width: 65.67px;
    height: 50.77px;
    overflow: hidden;

}

.info-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 21px;
    
}

.trends-info-section-1 h3{
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #BCBCBC;
}



.trends-info-section-1 h2{
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.24em;
    text-align: left;
    color: #F25E5E;
    
}

.info-subsection-1{
    width: 385px;
    display: flex;
    justify-content: space-between;
    gap:49px;
    margin-right: 389px;
}

.trends-info-section-2{
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 23px;
    margin-bottom: 40px;


}

.trends-info-section-2 h2{
    font-family: Poppins, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    color: #262626;

}

.trends-info-section-2 p{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #262626;
    padding-right: 200px;
}

.trends-info-section-3{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 38px;
    gap:11px;
    width: 277px;
    
}

.trends-info-section-3 h2{
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.24em;
    text-align: left;
    color: #4CE0D7;
    width: 215px;
    height: 24px;

}

.trends-info-section-3 img{
    width: 51px;
    height: 40px;
}

.trends-info-section-3:hover,   
.trends-info-section-3:focus,   
.trends-info-section-3:active  {
    -webkit-transform: scale(1.1); transform: scale(1.1);
}

.trends-info-section-3 {
    cursor: pointer;
} 





    

































/* trending section---------------------------------------------------------------------------------- */

.container2{
    max-width:1440px ;
    width: 100%;
    padding: 0 118px;
    margin:0 auto ;
    
}

/* ================================================================================================== */

/* BOXES============================================================================================================= */
.box1, .box2, .box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 6px 6px 0px #0000000D;
}

.box2{
    margin-top: 48px;
}

.box3{
    margin-top: 48px;
}

.box4{
    display: flex;
    gap: 59px;
}

.TR-box{
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-bottom: 45px;
    box-shadow: 0px 6px 6px 0px #0000000D;

}

/* ============================================================================================================================ */

/* HEADING======================================================================================================================== */
.heading1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:12px ;
    line-height:18px ;
    background-color:#262626 ;
    position: absolute;
    margin-left: 42px;
    padding: 9.42px 52.96px 9.17px 51.86px;
    color: #FFFFFF;
    border-radius: 40px;
    margin-top: 28px;
}

.heading1:hover,   .heading1:focus,   .heading1:active  {-webkit-transform: scale(1.1); transform: scale(1.1);}
.heading1{cursor: pointer;}

.heading2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:32px;
    line-height:48px ;
    color: #262626;
    margin-bottom: 55px

}

/* ============================================================================================================================== */

/* CONTENT(CON) BOXES======================================================================================================================= */
.content2{
    display: flex;
    flex-direction: column;
    gap: 52px;
    width: 548px;
    height: 367px;
    margin-right: 45px;
}

.content4{
    margin-right: 33px;
}

.con-img1{
    border-radius: 50%;
}

.con2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:14px ;
    line-height:21px;
    color: #BCBCBC;
}

.con3, .con4{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:26px ;
    line-height:39px ;
    color: #262626;
}

.content-boxes4{
    margin-bottom: 88px;
}

.content-boxes, .content-boxes2, .content-boxes3{
    background-color: #F9F9F9;
}

/* ========================================================================================================================== */

/* COVER=========================================================================================================================== */
.cover{
    border-radius: 20px;
}

/* ====================================================================================================================================== */

/* SECTIONS(SEC)======================================================================================================================= */
.sec1{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: center;
}

.sec2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sec4{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sec5{
    display: flex;
    align-items: center;
    width: 130px;
}

.sec6{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec7{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sec8{
    padding-top: 45px;
    max-width: 464px;
}

.sec9{
    display: flex;
    align-items: center;
    padding-top: 30px;
    width:130px;
}

.sec9:hover,   .sec9:focus,   .sec9:active  {-webkit-transform: scale(1.1); transform: scale(1.1);}
.sec5:hover,   .sec5:focus,   .sec5:active  {-webkit-transform: scale(1.1); transform: scale(1.1);}


/* ================================================================================================================ */

/* TXT========================================================================================================================= */

.txt1, .txt2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:16px ;
    line-height:24px;
    color: #262626;
}

.txt2{
    padding-top: 15px;
}

/* ================================================================================================================================ */

/* BUTTON-ARROW==================================================================================================================================== */

.button{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:12px ;
    line-height: 18px;
    color: #4CE0D7;
}

.arrow1{
    cursor: pointer;
}

/* ========================================================================================================================= */
/* tab responsive  */
@media(max-width:1024px){
        /* header responsive tab  */
























        /* topics responsive tab  */

    .topic-cards{
        width:950px;
    }

    .topic-card a.button{
        font-size: 12px;
        padding: 10px 30px;
    }
    
    
    .line {
        width: 900px;;
        height: 1px;
        
    }

    .latest-trends{
        width: 900px;
        height: 600px;
        
    
    }

       
    .latest-trends-image img{
        width: 900px;
        height: 250px;
        margin-bottom: 10px;
        
    }

    .fashion-heading{
        margin-left: 47.27px;
        margin-right: 700px;
        padding: 9.42px 52.96px 9.17px 51.86px;
        margin-top: 23.34px;
    }
    
    
    
    .latest-trends-info {
        max-width: 765px;
        width: 100%;
    }
    
    .trends-info-section-1 {
        margin-bottom: 20px;
        width: 700px;
    
    }
    
    .trends-info-section-1 h3{
        font-size: 10px;
        
    }
    
    .trends-info-section-1 h2{
        font-size: 10px;
        
    }
    
    .info-subsection-1{
        width: 300px;
        gap: 20px;
        margin-right: 200px;
    }
    
    .trends-info-section-2{
        margin-bottom: 30px;
    
    }
    
    .trends-info-section-2 h2{
        font-size: 22px;
        line-height: 39px;
    
    }
    
    .trends-info-section-2 p{
        padding-right: 20px;
    }
    
    .trends-info-section-3{
        width: 500px;
        
    }
    
    
























/* trending responsive tab  */

    .box4{
        display: flex;
        flex-direction: column;
        gap:1px;
    }
   .TR-box{
        gap: 10px;
}
   .content-boxes4{
    margin-bottom: 46px;
   }


   .box1, .box2, .box3{
    gap:1px ;
    flex-direction: column;
    margin-top: 1px;
    padding-top: 5px;
   } 

   .content2{
    margin-right: 0px;
    gap: 38px;
   }

   .sec8{
    padding-top: 24px;
    max-width: 513px;
   }

   /* footer responsive tab  */










}


/* smartphone responsive  */
@media(max-width:600px){
 /* header responsive phone  */















 /* topics responsive phone  */

 .topic-cards{
    width:950px;
}

.topic-card a.button{
    font-size: 12px;
    padding: 10px 30px;
}


.line {
    width: 900px;;
    height: 1px;
    
}

.latest-trends{
    width: 900px;
    height: 600px;
    

}

   
.latest-trends-image img{
    width: 900px;
    height: 250px;
    margin-bottom: 10px;
    
}

.fashion-heading{
    margin-left: 47.27px;
    margin-right: 700px;
    padding: 9.42px 52.96px 9.17px 51.86px;
    margin-top: 23.34px;
}



.latest-trends-info {
    max-width: 765px;
    width: 100%;
}

.trends-info-section-1 {
    margin-bottom: 20px;
    width: 700px;

}

.trends-info-section-1 h3{
    font-size: 10px;
    
}

.trends-info-section-1 h2{
    font-size: 10px;
    
}

.info-subsection-1{
    width: 300px;
    gap: 20px;
    margin-right: 200px;
}

.trends-info-section-2{
    margin-bottom: 30px;

}

.trends-info-section-2 h2{
    font-size: 22px;
    line-height: 39px;

}

.trends-info-section-2 p{
    padding-right: 20px;
}

.trends-info-section-3{
    width: 500px;
    
}















    /* trending responsive phone  */
    .container2{
        padding: 0 10px;
    }


    .box4{
        display: flex;
        flex-direction: column;
        gap:1px;
    }
   .TR-box{
        gap: 10px;
}
   .content-boxes4{
    margin-bottom: 46px;
   }


   .box1, .box2, .box3{
    gap:1px ;
    flex-direction: column;
    margin-top: 1px;
    padding-top: 5px;
   } 

   .content2{
    margin-right: 0px;
    gap: 38px;
   }

   .sec8{
    padding-top: 24px;
    max-width: 513px;
   }
}
