*{
    padding:0;
    margin: 0;
    text-decoration: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
}


.container{
    max-width: 1440px;
    width: 100%;
    padding: 0 84px;
    margin: 0 auto;
}
/* H O V E R */
nav a:hover   , nav a:focus  , nav a:active, .search-button:hover   , .search-button:focus  , .search-button:active {
    
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 

}

nav a, .search-button{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

/* header  */
header {
    background-color: #F9F9F9; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px; 
    padding-top: 37px;
    padding-bottom: 47px;
    padding-left: 84px; 
    padding-right: 84px; 
}

.logo {
    width: 234px;
    height: 49px;
    opacity: 0px; 
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 61.25px;
    margin-left: 225px; 
    margin-right: 66.9px;
}

nav a {
    font-weight: 700;
    color: rgba(38, 38, 38, 1);
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    
}

/* Contact Button Styles */
.contact-button {
    width: 143.81px;
    height: 35.95px;
    border-radius: 40px;
    background: rgba(76, 224, 215, 1);
    padding: 9px 31px 7px 32px; 
    
}

.search-button {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    
}
 

/* first section styles */
.first-section {
    width: 1272px;
    padding-top: 218px;
    padding-bottom: 141px;
    padding-left: 0%;
    background-image: url('./images/pexels-andrea-piacquadio-994234\ 1.png'); /* Background image */
    border-radius: 20px;
}


.first-section h3 {
    width: 209px;
    height: 18px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.23em;
    text-align: left;
    color: #ffffff; 
    margin-left:  57px; 
    margin-bottom: 22px;
}


.first-section h1 {
    width: 627px;
    height: 69px;
    font-family:'Poppins', sans-serif ;
    font-size: 46px;
    font-weight: 400;
    line-height: 69px;
    text-align: left;
    color: #FFFFFF; 
    margin-left: 57px; 
}

/* Span Styles */
.first-section h1 span {
    font-family:'Poppins', sans-serif ;
    font-size: 46px;
    font-weight: 700;
    line-height: 69px;
    text-align: left;
    color: #00ffff;
}

.first-section p{
    width: 494px;
    height: 72px;
    top: 479px;
    left: 137px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(255, 255, 255, 1);   
    margin-left: 53px;   
    margin-top: 19px;
}




























/* intro section */














/* topics  */


































/* trending section---------------------------------------------------------------------------------- */

.container2{
    max-width:1440px ;
    width: 100%;
    padding: 0 118px;
    margin:0 auto ;
    
}

/* ================================================================================================== */

/* BOXES============================================================================================================= */
.box1, .box2, .box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.box2{
    margin-top: 48px;
}

.box3{
    margin-top: 48px;
}

.box4{
    display: flex;
    gap: 59px;
}

.TR-box{
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-bottom: 45px;
}

/* ============================================================================================================================ */

/* HEADING======================================================================================================================== */
.heading1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:12px ;
    line-height:18px ;
    background-color:#262626 ;
    position: absolute;
    margin-left: 42px;
    padding: 9.42px 52.96px 9.17px 51.86px;
    color: #FFFFFF;
    border-radius: 40px;
    margin-top: 28px;
}

.heading1:hover,   .heading1:focus,   .heading1:active  {-webkit-transform: scale(1.1); transform: scale(1.1);}
.heading1{cursor: pointer;}

.heading2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:32px;
    line-height:48px ;
    color: #262626;
    margin-bottom: 55px

}

/* ============================================================================================================================== */

/* CONTENT(CON) BOXES======================================================================================================================= */
.content2{
    display: flex;
    flex-direction: column;
    gap: 52px;
    width: 548px;
    height: 367px;
    margin-right: 45px;
}

.content4{
    margin-right: 33px;
}

.con-img1{
    border-radius: 50%;
}

.con2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:14px ;
    line-height:21px;
    color: #BCBCBC;
}

.con3, .con4{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:26px ;
    line-height:39px ;
    color: #262626;
}

.content-boxes4{
    margin-bottom: 88px;
}

.content-boxes, .content-boxes2, .content-boxes3{
    background-color: #F9F9F9;
}

/* ========================================================================================================================== */

/* COVER=========================================================================================================================== */
.cover{
    border-radius: 20px;
}

/* ====================================================================================================================================== */

/* SECTIONS(SEC)======================================================================================================================= */
.sec1{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: center;
}

.sec2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sec4{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sec5{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100px;
}

.sec6{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec7{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sec8{
    padding-top: 45px;
    max-width: 464px;
}

.sec9{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 30px;
    width: 100px;
}

.sec9:hover,   .sec9:focus,   .sec9:active  {-webkit-transform: scale(1.1); transform: scale(1.1);}
.sec5:hover,   .sec5:focus,   .sec5:active  {-webkit-transform: scale(1.1); transform: scale(1.1);}


/* ================================================================================================================ */

/* TXT========================================================================================================================= */

.txt1, .txt2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:16px ;
    line-height:24px;
    color: #262626;
}

.txt2{
    padding-top: 15px;
}

/* ================================================================================================================================ */

/* BUTTON-ARROW==================================================================================================================================== */

.button{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:12px ;
    line-height: 18px;
    color: #4CE0D7;
}

.arrow1{
    color: #4CE0D7;
    font-size:20px ;
}

/* ========================================================================================================================= */